# Clion files
.idea

# Build files
cmake-*

# Tiled files
*.tiled-project
*.tiled-session

# Resource directories
/res
/test
/tiled

# Index file
*.magique
examples/**/*.clang-format

# Private files
TODO
examples/headers/main.cpp
examples/headers/CMakeLists.txt